/* -------------------------- */
/*      Kajotte Studio        */
/* -------------------------- */
.stylish-link {
  text-decoration: none; 
  color: #007bff; 
  transition: 
    color 0.3s ease-in-out, 
    transform 0.3s ease-in-out; 
  position: relative;
  display: inline-block;
  padding: 2px 0;
}

.stylish-link:hover {
  color: #000000;
  transform: translateY(-1px);
}

.stylish-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0049bf;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.stylish-link:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left;
}
