/* -------------------------- */
/*      Kajotte Studio        */
/* -------------------------- */
.stylish-link-on-f {
  text-decoration: none; 
  color: #004191; 
  font-weight: 500; 
  transition: 
    color 0.3s ease-in-out, 
    transform 0.3s ease-in-out; 
  position: relative;
  display: inline-block;
  padding: 2px 0;
}

.stylish-link-on-f:hover {
  color: #000000;
  font-weight: 600; 
  cursor: pointer; 
  transform: translateY(-1px);
}

.stylish-link-on-f::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background-color: #000000; 
  transform: scaleX(0); 
  transform-origin: bottom right; 
  transition: transform 0.3s ease-in-out;
}

.stylish-link-on-f:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left; 
}
