/* -------------------------- */
/*      Kajotte Studio        */
/* -------------------------- */
.stylish-link {
  text-decoration: none; 
  color: #66edff; 
  font-weight: 500; 
  transition: 
    color 0.3s ease-in-out, 
    transform 0.3s ease-in-out; 
  position: relative;
  display: inline-block;
  padding: 2px 0;

}

.stylish-link:hover {
  color: #fffb10;
  font-weight: 600; 
  cursor: pointer; 
  transform: translateY(-1px);
}

.stylish-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #b8af00;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.stylish-link:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left;
}

.stylish-link-pink {
  text-decoration: none; 
  color: #fda9b0;
  font-weight: 500;
  transition: 
    color 0.3s ease-in-out, 
    transform 0.3s ease-in-out; 
  position: relative;
  display: inline-block;
  padding: 2px 0;
}

.stylish-link-pink:hover {
  color: #ffd737;
  font-weight: 600;
  transform: translateY(-1px);
}

.stylish-link-pink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background-color: #bfb500; 
  transform: scaleX(0); 
  transform-origin: bottom right; 
  transition: transform 0.3s ease-in-out;
}

.stylish-link-pink:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left;
}
